/*
BANNER
*/

.whyBanner {
  width: 100vw;
  padding-top: 108rem;
  padding-bottom: 124.84rem;
  background: url("./res/mapbg.png");
  display: flex;
  align-items: center;
}

.whyBanner--more {
  align-items: unset;
}

.whyBanner_button {
  margin-right: 40rem;
}

.whyBanner_button img {
  width: 500rem;
}

.whyBanner--more .whyBanner_button {
  float: left;
}

.whyBanner_card {
  width: 889rem;
  background-color: white;
  border-left: 10rem solid var(--colorDeepRed);
  padding-left: 55rem;
  padding-right: 38rem;
  padding-top: 22rem;
  padding-bottom: 35rem;
}

.whyBanner_card:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.whyBanner_header {
  font-size: 60rem;
  font-family: var(--fontBabasNeue);
  color: var(--colorDarkBlue);
  margin-bottom: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyBanner_text {
  font-size: 30rem;
  font-family: var(--fontNeoBulletin);
  font-weight: bold;
  margin-bottom: 40rem;
}

.whyBanner_more {
  font-size: 40rem;
  float: right;
  font-family: var(--fontBabasNeue);
  text-decoration: underline;
  color: var(--colorDarkBlue);
}

.whyBanner_card:hover .whyBanner_more {
  color: var(--colorDeepOrange);
}

/*
DOCUMENTS
*/

.whyDocs {
  width: 100vw;
  padding-top: 40rem;
  padding-bottom: 127rem;
  font-size: 30rem;
}

.whyDocs_social {
  display: flex;
  float: right;
  margin-right: 31rem;
}

.whyDocs_social div {
  margin-left: 20rem;
  margin-right: 20rem;
  font-family: var(--fontNeoBulletin);
  color: var(--colorLightBlue);
  text-decoration: underline;
  float: right;
}

.whyDocs_social div:hover {
  cursor: pointer;
}

.whyDocs_header p {
  font-size: 60rem;
  margin-left: 405rem;
  margin-top: 78rem;
  font-family: var(--fontBabasNeue);
  color: var(--colorDarkBlue);
  margin-bottom: 43rem;
}

.whyDocs_doclist {
  margin-left: 412rem;
}

.whyDocs_doclist img {
  width: 348rem;
  height: 451rem;
  margin-right: 67rem;
}

/*
TIMELINE
*/

.whyTime {
  width: 100vw;
  box-shadow: 0px 3px 20px #00000029;
  height: 781rem;
  padding-top: 110rem;
}

.whyTime_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: -5;
}

.whyTime_svgBall {
  background-color: var(--colorDeepRed);
  width: 50rem;
  height: 50rem;
  border-radius: 999px;
}

.whyTime_svgLine {
  background-color: var(--colorDeepRed);
  height: 402rem;
  width: 10rem;
}

.whyTime_svgBorder {
  width: 100vw;
  border-top: 20rem solid var(--colorDeepRed);
  height: 60rem;
  background-color: var(--colorDeepOrange);
  border-bottom: 20rem solid var(--colorDeepYellow);
}

.whyTime_img {
  margin-left: 71rem;
  margin-top: -8rem;
  position: absolute;
}

.whyTime_img img {
  width: 757rem;
  height: 553rem;
  border-radius: 22rem;
}

.whyTime_card {
  float: right;
  width: 715rem;
  margin-right: 138rem;
}

.whyTime_date {
  font-size: 40rem;
  font-family: var(--fontBabasNeue);
  color: #C3C4C3;
}

.whyTime_header {
  font-size: 60rem;
  font-family: var(--fontBabasNeue);
  color: var(--colorDarkBlue);
}

.whyTime_text {
  font-size: 24rem;
  font-family: var(--fontNeoBulletin);
  font-weight: bold;
}

/*
ESSAYS
*/

.whyEssays {
  width: 100vw;
  height: 1300rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyEssays_frontdrop {
  width: 1762rem;
  height: 695rem;
  z-index: -5;
  background-color: var(--colorBeige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
}

.whyEssays_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  margin-bottom: 160rem;
}

.whyEssays_header {
  font-size: 60rem;
  font-family: var(--fontBabasNeue);
  color: var(--colorDeepRed);
  margin-left: 130rem;
  margin-top: 42rem;
}

.whyEssays_essays {
  display: flex;
}

.whyEssays_essays img {
  width: 316rem;
  height: 390rem;
  margin-right: 20rem;
}