.meetIcon {
    font-size: calc(16px + 1vw);
    text-align: center;
    width: fit-content;
}

.meetIcon:hover {
    cursor: pointer;
}

.meetIcon > img {
    max-height: 12em;
    aspect-ratio: 1/1;
}

.meetIcon_name {
    font-family: var(--fontBabasNeue);
    font-size: 2em;
}

.meetIcon_role {
    font-family: var(--fontMontserrat);
    max-width: 15ch;
    margin: auto;
}

.meetIcon_popup {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    position: absolute;
    background-color: white;
    margin-top: -14em;
    margin-left: -2em;
}

.meetIcon_popupHeader {
    background-color: var(--colorDarkBlue);
    color: white;
    text-align: left;
    padding-left: 4ch;
    padding-top: .5em;
    padding-bottom: .5em;
}

.meetIcon_popupHeader > h3 {
    font-family: var(--fontBabasNeue);
    font-weight: normal;
    max-width: 20em;
}

.meetIcon_popupHeader > p {
    font-family: var(--fontMontserrat);
    font-size: .6em;
}

.meetIcon_popupText > p {
    max-width: 20em;
    font-family: var(--fontMontserrat);
    font-size: .6em;
    text-align: left;
    padding: .8em;
}