.homeHighlights_carousel {
  width: 926rem;
  margin-left: calc(517*var(--xUnit));
  margin-top: calc(216.5*var(--xUnit));
}

.homeHighlights_carouselCard {
  display: flex;
  width: calc(926*var(--xUnit));
  height: calc(537*var(--xUnit));
  border-left: calc(20*var(--xUnit)) solid var(--colorDeepRed);
  background-color: white;
  padding-right: calc(12*var(--xUnit));
}

.homeHighlights_img1,
.homeHighlights_img2,
.homeHighlights_img3 {
    width: auto !important;
    height: 100% !important;
    margin: auto;
}


.homeHighlights_cardHeader {
  font-family: 'babas_neue', 'normal';
  font-size: calc(60*var(--xUnit));
  width: calc(392*var(--xUnit));
  text-align: left;
  margin-top: calc(111*var(--xUnit));
  margin-left: calc(29*var(--xUnit));
}

.homeHighlights_cardText {
  font-family: 'neobulletin', 'normal';
  font-size: calc(24*var(--xUnit));
  font-weight: bold;
  width: calc(392*var(--xUnit));
  text-align: left;
  margin-top: calc(41*var(--xUnit));
  margin-left: calc(29*var(--xUnit));
}