/*
SPLASH
*/

.homeSplash {
  display: flex;
  background: url('./res/mapbg.png');
  padding-left: 160rem;
  padding-top: 156.33rem;
  padding-bottom: 106.17rem;
}

.homeSplash_toForm img {
  width: 799.77rem;
}

.homeSplash_card {
  width: 696.16rem;
  height: 640.29rem;
  margin-left: 114rem;
  background-color: var(--colorLightBlue);
  color: white;
  text-align: center;
  padding-top: 19.45rem;
}

.homeSplash_card h3 {
  font-family: 'subway_ds';
  font-size: 96rem;
  width: 552rem;
  margin-left: 72rem;
}

.homeSplash_cardHr {
  width: 582.95rem;
  height: 6rem;
  background-color: #da4c4c;
  margin-left: 56.82rem;
  margin-top: 22rem;
}

.homeSplash_card p {
  font-family: 'babas_neue';
  font-size: 65rem;
  margin-top: 41.47rem;
}

/*
ABOUT
*/

.homeAbout_beigeBackdrop {
  width: 1610rem;
  height: 950rem;
  background-color: var(--colorBeige);
  margin-top: 112rem;
  margin-left: 122rem;
}

.homeAbout_content {
  display: flex;
  margin-top: -1062rem;
}

.homeAbout_card {
  width: 835rem;
  min-height: 730rem;
  height: fit-content;
  border: 10rem solid var(--colorDeepRed);
  margin-left: 46.78rem;
  margin-top: 230rem;
  padding-bottom: 56rem;
  margin-bottom: 20rem;
}

.homeAbout_playnice {
  width: 835rem;
}

.homeAbout_headerBackdrop {
  background-color: var(--colorBeige);
  height: 96rem;
  width: 654rem;
  margin-left: 109.22rem;
  margin-top: -62rem;
  overflow-y: hidden;
}

.homeAbout_header {
  font-family: 'babas_neue', 'normal';
  font-size: 96rem;
  margin-left: 138.22rem;
  margin-top: -96rem;
}

.homeAbout_cardHr {
  width: 198.36rem;
  background-color: var(--colorDeepRed);
  border-top: 15rem solid var(--colorDeepRed);
  border-bottom: 10rem solid var(--colorDeepOrange);
  margin-left: 138.22rem;
  margin-top: -4rem;
}

.homeAbout_p1 p {
  margin-bottom: 36rem;
}

.homeAbout_peas {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500rem;
}

.homeAbout_p1 {
  margin-top: 76.5rem;
  padding-right: 112.78rem;
}

.homeAbout_p2 {
  margin-top: 36rem;
  padding-right: 91.78rem;
}

.homeAbout_p1,
.homeAbout_p2 {
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
  font-size: 24rem;
  width: 835rem;
  padding-left: 143.22rem;
}

.homeAbout_readmore {
  font-size: 45rem;
  font-family: var(--fontBabasNeue);
  margin-left: 600rem;
  margin-top: 50rem;
}

.homeAbout_readmore:hover {
  color: var(--colorDeepRed);
  cursor: pointer;
}

.homeAbout_chicks {
  margin-left: 38.2rem;
  margin-bottom: 0;
}

.homeAbout_chicks img {
  width: 1114rem;
}

.homeAbout_imgCred {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'babas_neue', 'normal';
  font-size: 36rem;
  width: fit-content;
  min-width: 323rem;
  height: 84rem;
  background-color: var(--colorDarkBlue);
  margin-left: 500rem;
  color: var(--colorBeige);
  margin-top: -89rem;
  position: relative;
  text-align: right;
  padding: 12rem;
}

.homeAbout_border {
  width: 100vw;
  border-top: 25rem solid var(--colorDeepRed); /*high*/
  height: 75rem; /*mid*/
  background-color: var(--colorDeepOrange);
  border-bottom: 25rem solid var(--colorDeepYellow); /*low*/
}

/*
MAP
*/

.homeMap_card {
  width: 1271.01rem;
  height: fit-content;
  min-height: 352.54rem;
  border: 10rem solid var(--colorDeepRed);
  margin-left: 324rem;
  margin-top: 260.5rem;
}

.homeMap_headerBackdrop {
  width: 599rem;
  height: 96rem;
  background-color: white;
  margin-left: 58.92rem;
  margin-top: -70rem;
}

.homeMap_header {
  font-family: 'babas_neue', 'normal';
  font-size: 96rem;
  margin-top: -96rem;
  margin-left: 83.92rem;
}

.homeMap_cardHr {
  background-color: var(--colorDeepRed);
  border-top: 15rem solid var(--colorDeepRed);
  border-bottom: calc(10 * var(--xUnit)) solid var(--colorDeepOrange);
  width: calc(563.29 * var(--xUnit));
  margin-left: calc(80.72 * var(--xUnit));
}

.homeMap_text {
  font-size: calc(24 * var(--xUnit));
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
  width: calc(1171.8 * var(--xUnit));
  margin-left: calc(32.01 * var(--xUnit));
  margin-top: calc(54.67 * var(--xUnit));
  text-align: left;
}

.homeMap_opening {
  width: 80%;
  display: block;
  margin: auto;
}

.homeMap_tabs {
  margin-top: calc(122.46 * var(--xUnit));
  display: flex;
  margin-left: calc(102.5 * var(--xUnit));
  width: fit-content;
}

.homeMap_tabs div {
  width: calc(241 * var(--xUnit));
  height: calc(110 * var(--xUnit));
  margin-left: calc(33 * var(--xUnit));
  background-color: var(--colorDeepOrange);
  border-radius: calc(50 * var(--xUnit)) calc(50 * var(--xUnit)) 0 0;
  text-align: center;
  font-family: 'babas_neue', 'normal';
  font-size: calc(40 * var(--xUnit));
  color: var(--colorBeige);
  padding-top: calc(29 * var(--xUnit));
}

.homeMap_tabs div:hover {
  cursor: pointer;
  border-top: calc(4 * var(--xUnit)) solid #142f45;
  border-left: calc(4 * var(--xUnit)) solid #142f45;
  border-right: calc(4 * var(--xUnit)) solid #142f45;
  color: #142f45;
}

.homeMap_tabs .homeMap_tab--active {
  border-top: calc(4 * var(--xUnit)) solid #142f45;
  border-left: calc(4 * var(--xUnit)) solid #142f45;
  border-right: calc(4 * var(--xUnit)) solid #142f45;
  background-color: #ffffff;
  color: #142f45;
  pointer-events: none;
}

.homeMap_tabsHr {
  width: calc(1611.58 * var(--xUnit));
  height: calc(4 * var(--xUnit));
  background-color: #142f45;
  margin-left: calc(135.5 * var(--xUnit));
}

/*
THE CSS FOR HANDLING THE ACTUAL INTERACTIVE MAP CAN BE FOUND IN
./Map.css
*/

/*
EXPLORE
*/

.homeExplore {
  background-color: var(--colorBeige);
  padding-top: calc(162.26 * var(--xUnit));
}

.homeExplore_card {
  margin-left: auto;
  margin-right: auto;
  width: calc(830.47 * var(--xUnit));
  min-height: calc(329 * var(--xUnit));
  height: fit-content;
  border: calc(10 * var(--xUnit)) solid var(--colorDeepRed);
  padding-bottom: calc(34 * var(--xUnit));
}

.homeExplore_headerBackdrop {
  width: calc(610 * var(--xUnit));
  height: calc(96 * var(--xUnit));
  background-color: var(--colorBeige);
  margin-top: calc(-1 * 70 * var(--xUnit));
  margin-left: calc(110 * var(--xUnit));
}

.homeExplore_header {
  font-size: calc(96 * var(--xUnit));
  margin-top: calc(-1 * 96 * var(--xUnit));
  font-family: 'babas_neue', 'normal';
  margin-left: calc(150 * var(--xUnit));
}

.homeExplore_hr {
  width: calc(551.82 * var(--xUnit));
  background-color: var(--colorDeepRed);
  margin-left: calc(139.01 * var(--xUnit));
  margin-top: calc(15.94 * var(--xUnit));
  border-top: calc(15 * var(--xUnit)) solid var(--colorDeepRed);
  border-bottom: calc(10 * var(--xUnit)) solid var(--colorDeepOrange);
}

.homeExplore_text {
  font-size: calc(24 * var(--xUnit));
  margin-top: calc(29.67 * var(--xUnit));
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
  width: calc(559 * var(--xUnit));
  text-align: left;
  margin-left: calc(142.01 * var(--xUnit));
}

.homeExplore_img {
  margin-top: calc(44.74 * var(--xUnit));
  margin-left: calc(-1 * 130 * var(--xUnit));
  height: calc(982 * var(--xUnit));
  overflow-y: hidden;
  overflow-x: hidden;
}

.homeExplore_img img {
  position: relative;
  left: 0;
  top: 0;
  width: calc(2155.6 * var(--xUnit));
}

.homeExplore_imgSrc {
  position: relative;
  width: calc(332 * var(--xUnit));
  height: calc(84 * var(--xUnit));
  background-color: var(--colorDarkBlue);
  color: var(--colorBeige);
  font-size: calc(36 * var(--xUnit));
  font-family: 'babas_neue', 'normal';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1 * 84 * var(--xUnit));
}

.homeExplore_borderBot {
  height: calc(35 * var(--xUnit));
  width: 100vw;
  background-color: var(--colorDeepRed);
}

/*
BUTTONS
*/

.homeButtons {
  z-index: -1;
  height: calc(1312.72 * var(--xUnit));
}

.homeButtons_button {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.homeButtons_button:hover {
  transform: scale(1.01);
}

.homeButtons_button img {
  width: calc(400 * var(--xUnit));
  height: calc(400 * var(--xUnit));
}

.homeButtons_button p {
  width: calc(420 * var(--xUnit));
  font-family: 'neobulletin', 'normal';
  color: var(--colorDarkBlue);
  font-size: calc(24 * var(--xUnit));
  font-weight: bold;
}

.homeButtons_button1 {
  margin-top: calc(157 * var(--xUnit));
  margin-left: calc(100 * var(--xUnit));
}

.homeButtons_button2 {
  margin-top: calc(157 * var(--xUnit));
  margin-left: calc(996.33 * var(--xUnit));
}

.homeButtons_button3 {
  margin-top: calc(720 * var(--xUnit));
  margin-left: calc(100 * var(--xUnit));
}

.homeButtons_button4 {
  margin-top: calc(720 * var(--xUnit));
  margin-left: calc(996.33 * var(--xUnit));
}

.homeButtons_dots {
  position: absolute;
  width: calc(420 * var(--xUnit));
  height: calc(420 * var(--xUnit));
}

.homeButtons_dots1 {
  margin-top: calc(10 * var(--xUnit));
  margin-left: calc(10 * var(--xUnit));
}

.homeButtons_dots2 {
  right: 0;
  margin-top: calc(10 * var(--xUnit));
  margin-right: calc(10 * var(--xUnit));
}

.homeButtons_dots3 {
  margin-top: calc(880 * var(--xUnit));
  margin-left: calc(10 * var(--xUnit));
}

.homeButtons_dots4 {
  margin-top: calc(880 * var(--xUnit));
  margin-right: calc(10 * var(--xUnit));
  right: 0;
}

/*
HIGHLIGHTS
*/

.homeHighlights {
  background: url('./res/mapbg.png');
  height: calc(1453.28 * var(--xUnit));
  padding-top: calc(212 * var(--xUnit));
}

.homeHighlights_frontDrop {
  background-color: var(--colorBeige);
  width: calc(1427 * var(--xUnit));
  height: calc(970 * var(--xUnit));
  position: absolute;
  margin-left: calc(256 * var(--xUnit));
}

.homeHighlights_frontDrop2 {
  width: calc(1427 * var(--xUnit));
  height: calc(970 * var(--xUnit));
  position: absolute;
  margin-left: calc(256 * var(--xUnit));
  font-size: 60rem;
  font-family: 'subway_ds';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
  z-index: 5;
  flex-direction: column;
}

.homeHighlights_frontDrop2 p {
  font-size: 34.5rem;
  font-family: 'babas_neue', 'normal';
}

.homeHighlights_header {
  font-family: 'babas_neue', 'normal';
  font-size: calc(80 * var(--xUnit));
  color: var(--colorDeepRed);
  position: absolute;
  margin-top: calc(60 * var(--xUnit));
  margin-left: calc(764 * var(--xUnit));
}

/*
THE CSS FOR HANDLING THE ACTUAL INTERACTIVE MAP CAN BE FOUND IN
./HighlightsCarousel.css
*/
