/*
SPLASH
*/

.homeSplash {
    display: flex;
    background-image: url("../../res/imgs/mapbg.png");
    padding: 1rem;
}

.homeSplash > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSplash_toform {
    width: 90%;
}

.homeSplash_card {
    background-color: var(--colorLightBlue);
    width: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.homeSplash_card > h2 {
    max-width: 9ch;
    font-family: var(--fontSubwayDs);
    font-size: 2rem;
    margin: auto;
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: .2rem solid var(--colorDeepRed);
    margin-bottom: .5rem;
    text-align: center;
}

.homeSplash_card > p {
    font-size: 1.5rem;
    max-width: 30ch;
    text-align: center;
}

/*
ABOUT
*/

.homeAbout {
    display: flex;
    background-color: var(--colorBeige);
    align-items: center;
}

.homeAbout > * {
    width: 100%;
}

.homeAbout .card {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.homeAbout_imgCol {
    align-self: flex-end;
}

.homeAbout_hr {
    border-top: .4rem solid var(--colorDeepRed);
    background-color: var(--colorDeepOrange);
    border-bottom: .4rem solid var(--colorDeepYellow);
    height: 1.2rem;
    position: relative;
}

/*
MAP
*/

.homeMap {
    margin-bottom: 4rem;
}

.homeMap .card {
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/*
EXPLORE
*/
.homeExplore {
    background-color: var(--colorBeige);
    padding-top: 4rem;
    border-bottom: 1rem solid var(--colorDeepRed);
}

.homeExplore .card {
    width: 60%;
    margin: auto;
}

/*
BUTTONS
*/

.homeButtons {
    background-image: url("../../res/imgs/backgrounddots.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.homeButtons a {
    text-decoration: none;
    color: black;
}

.homeButtons_item {
    width: 40vw;
    display: flex;
    font-size: .8rem;
    align-items: center;
    margin-left: -1rem;
}

.homeButtons_item:hover {
    transform: scale(1.01);
    opacity: .69;
}

.homeButtons_item > img {
    width: 10rem;
    height: 10rem;
}

.homeButtons_text {
    font-family: var(--fontNeoBulletin);
    font-size: .6rem;
    margin-top: 1rem;
}

/*
HIGHLIGHTS
*/

.homeHighlights {
    background-image: url("../../res/imgs/mapbg.png");
    padding: 2rem;
}

.homeHighlights_card {
    width: 60%;
    background-color: var(--colorBeige);
    padding: 1rem;
    margin: auto;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .2);
    border-radius: .2rem;
}

.homeHighlights_card > h2 {
    width: fit-content;
    margin: auto;
    color: var(--colorDeepRed);
}

.homeHighlights .myCarousel {
    padding: 1rem;
}