.homeMap_grayer {
  position: absolute;
  margin-top: calc(-1*180*var(--xUnit));
  width: 100vw;
  height: calc(1668*var(--xUnit));
  background-color: black;
  opacity: .69;
  z-index: 2;
}

.homeMap_map {
  width: calc(1612*var(--xUnit));
  height: calc(1067.6*var(--xUnit));
  background-color: var(--colorBeige);
  margin-left: calc(135.42*var(--xUnit));
  margin-top: calc(121.46*var(--xUnit));
  box-shadow: 0 calc(10*var(--xUnit)) calc(20*var(--xUnit)) #00000082;
  margin-bottom: calc(299*var(--xUnit));
}

.homeMap_poi {
  font-family: 'babas_neue';
  position: absolute;
  height: calc(1067.6*var(--xUnit));
  width: calc(420*var(--xUnit));
  background-color: var(--colorDarkBlue);
  margin-left: calc(79*var(--xUnit));
}

.homeMap_poiHeader {
  font-size: calc(72*var(--xUnit));
  color: #FFECD1;
  width: calc(307*var(--xUnit));
  margin-left: calc(30*var(--xUnit));
  margin-top: calc(51.6*var(--xUnit));
  margin-bottom: calc(38.76*var(--xUnit));
}

.homeMap_poiText {
  color: white;
  font-size: calc(40*var(--xUnit));
  margin-left: calc(31*var(--xUnit));
  margin-bottom: calc(14*var(--xUnit));
  width: calc(350*var(--xUnit));
}

.homeMap_poiText--hovering {
  transform: scale(1.01);
  cursor: pointer;
  color: var(--colorLightBlue);
}

.homeMap_interactive {
  margin-left: calc(498.14*var(--xUnit)); /*WAS 575.14*/
  height: fit-content;
  padding-top: calc(0.04*var(--xUnit));
}

.homeMap_img {
  position: absolute;
  width: calc(1113.94*var(--xUnit));
  height: calc(1067*var(--xUnit));
  border: 1px solid black;
}

.homeMap_dot {
  position: absolute;
}

.homeMap_dot img {
  width: calc(65*var(--xUnit));
  z-index: 0;
}

.homeMap_dot--hovering img {
  transform: scale(1.08);
  cursor: pointer;
}

.homeMap_dotLabel {
  display: none;
  pointer-events: none;
}

.homeMap_dot--hovering .homeMap_dotLabel {
  font-size: calc(20*var(--xUnit));
  display: block;
  font-family: 'neobulletin', 'normal';
  background-color: rgba(0, 0, 0, .69);
  color: white;
  padding: calc(10*var(--xUnit));
  border-radius: calc(40*var(--xUnit));
  margin-top: calc(-1*65*var(--xUnit));
  margin-left: calc(70*var(--xUnit));
  position: relative;
  z-index: 1;
}

/*
POPUP
*/

.homeMap_popup {
  position: absolute;
  z-index: 3;
  background-color: #615FBF;
  width: calc(700*var(--xUnit));
  height: calc(900*var(--xUnit));
  height: fit-content;
  border-radius: calc(75*var(--xUnit)) calc(75*var(--xUnit)) calc(75*var(--xUnit)) 0;
  margin-top: calc(-1*180*var(--xUnit));
  margin-left: calc(50*var(--xUnit));
  padding-bottom: calc(42*var(--xUnit));
  box-shadow: 0 calc(3*var(--xUnit)) calc(6*var(--xUnit)) #00000029;
}

.homeMap_popupTop {
  height: calc(565*var(--xUnit));
  border-radius: calc(75*var(--xUnit)) calc(75*var(--xUnit)) calc(36*var(--xUnit)) 0;
  background-color: white;
  padding-top: calc(64*var(--xUnit));
  box-shadow: 0 calc(3*var(--xUnit)) calc(6*var(--xUnit)) #00000029;
}

.homeMap_popupBack {
  font-family: 'babas_neue', 'normal';
  display: flex;
  align-items: center;
  margin-left: calc(54*var(--xUnit));
  margin-bottom: calc(11*var(--xUnit));
}

.homeMap_popupBack p {
  font-size: calc(30*var(--xUnit));
  margin-left: calc(18*var(--xUnit));
  color: var(--colorLightGray);
}

.homeMap_popupBack:hover {
  cursor: pointer;
}

.homeMap_popupBack:hover .homeMap_popupBackArrow {
  transform: scale(1.08);
}

.homeMap_popupBack:hover p {
  color: var(--colorLightBlue);
}

.homeMap_popupImg img {
  margin-left: calc(83*var(--xUnit));
  border-radius: calc(15*var(--xUnit));
  width: calc(535*var(--xUnit));
  height: calc(324*var(--xUnit));
}

.homeMap_popupSrc {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  color: var(--colorLightGray);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(20*var(--xUnit));
  font-size: 20rem;
  text-align: center;
}

.homeMap_popupSrc p {
  margin-left: calc(11*var(--xUnit));
}

.homeMap_popupFeed {
  margin-top: calc(10*var(--xUnit));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(20*var(--xUnit));
  padding-right: calc(20*var(--xUnit));
}

.homeMap_popupFeedLeft:hover, .homeMap_popupFeedRight:hover {
  width: calc(50*var(--xUnit));
  transform: scale(1.08);
  background-color: var(--colorLightBlue);
  cursor: pointer;
  border-radius: calc(999*var(--xUnit));
}

.homeMap_popupFeedImg img {
  border-radius: calc(15*var(--xUnit));
  width: calc(150*var(--xUnit));
  height: calc(107*var(--xUnit));
}

.homeMap_popupTitle {
  margin-top: calc(63*var(--xUnit));
  margin-left: calc(97*var(--xUnit));
  font-family: 'babas_neue', 'normal';
  font-size: calc(40*var(--xUnit));
  color: white;
}

.homeMap_popupLocation {
  font-family: 'babas_neue', 'normal';
  margin-left: calc(97*var(--xUnit));
  font-size: calc(40*var(--xUnit));
  color: white;
  margin-top: 80rem;
}

.homeMap_popupDescription {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(16*var(--xUnit));
  margin-top: calc(20*var(--xUnit));
  margin-left: calc(97*var(--xUnit));
}

.homeMap_popupDescription h4 {
  width: calc(513*var(--xUnit));
}

.homeMap_popupDescription p {
  margin-top: calc(3*var(--xUnit));
  width: calc(560*var(--xUnit));
}