.home {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.home_splash {
  background-image: url("./res/mapbg.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(156.55*var(--xUnit));
  padding-bottom: calc(130.15*var(--xUnit));
}

.home_splash_img {
  width: calc(799.77*var(--xUnit));
  height: calc(512.71*var(--xUnit));
  margin-left: calc(127.23*var(--xUnit));
}

.home_splash_card {
  width: calc(696.19*var(--xUnit));
  margin-right: calc(148.81*var(--xUnit));
  background-color: var(--colorLightBlue);
  border: 1px;
}

.home_splash_cardHeading {
  width: calc(552*var(--xUnit));
  margin-left: calc(72*var(--xUnit));
  font-family: 'subway_ds', 'normal';
  font-size: calc(var(--xUnit)*96);
  color: white;
  text-align: center;
}

.home_splash_cardHr {
  width: calc(582.95*var(--xUnit));
  margin-left: calc(56.82*var(--xUnit));
  height: calc(6*var(--xUnit));
  background-color: #DA4C4C;
}

.home_splash_cardContent {
  margin-top: calc(41.47*var(--xUnit));
  font-size: calc(65*var(--xUnit));
  font-family: 'babas_neue', 'normal';
  text-align: center;
  color: white;
}

.home_about {
  display: flex;
  justify-content: space-between;
  margin-top: calc(112*var(--xUnit));
  margin-left: calc(112*var(--xUnit));
  width: calc(1610*var(--xUnit));
  background-color: var(--colorBeige);
}

.home_about_card {
  border: 10px solid var(--colorDeepRed);
  width: calc(835*var(--xUnit));
  height: fit-content;
  min-height: calc(730*var(--xUnit));
  margin-top: calc(118*var(--xUnit));
  margin-left: calc(-2*39.22*var(--xUnit));
}

.home_about_cardHeading {
  width: fit-content;
  font-size: calc(96*var(--xUnit));
  margin-left: calc(143.22*var(--xUnit));
  margin-top: calc(-1*67*var(--xUnit));
  padding-left: calc(29*var(--xUnit));
  padding-right: calc(16*var(--xUnit));
  background-color: var(--colorBeige);
  font-family: 'babas_neue', 'normal';
}

.home_about_cardHr {
  width: calc(190.36*var(--xUnit));
  height: 1px;
  margin-left: calc(143.22*var(--xUnit) + 29*var(--xUnit));
  margin-top: calc(-1*24*var(--xUnit));
  margin-bottom: calc(64.67*var(--xUnit));
  border-top: 15px solid var(--colorDeepRed);
  border-bottom: 10px solid var(--colorDeepOrange);
  background-color: var(--colorDeepOrange);
}

.home_about_cardContent {
  width: calc(579*var(--xUnit));
  margin-left: calc(143.22*var(--xUnit));
  padding-left: calc(29*var(--xUnit));
  font-size: calc(24*var(--xUnit));
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
}

.home_about_img {
  width: calc(999*var(--xUnit));
  height: calc(1063*var(--xUnit));
  margin-top: calc(-1*112*var(--xUnit));
  margin-right: calc(-1*250*var(--xUnit));
  overflow-y: hidden;
}

.home_about_img img {
  width: 100%;
  height: 100%;
}

/*FIGURE THIS OUT*/
.home_about_imgCredit {
  font-family: 'babas_neue', 'normal';
  font-size: calc(36*var(--xUnit));
  margin-top: calc(-1*93*var(--xUnit));
  height: fit-content;
  background-color: var(--colorDarkBlue);
  position: absolute;
  right: 0;
  color: white;
  padding: calc(20*var(--xUnit));
}

.home_about_borderBottom {
  /*HIGH RED*/
  border-top: calc(25*var(--xUnit)) solid var(--colorDeepRed);

  /*MID ORANGE*/
  height: calc(3*25*var(--xUnit));
  background-color: var(--colorDeepOrange);

  /*LOW YELLO*/
  border-bottom: calc(25*var(--xUnit)) solid var(--colorDeepYellow);


  margin-bottom: 260.5px;
}

/**
  NEED TO FIX UP MAP
*/

.home_map {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.home_map_card {
  width: 50%;
  border: 4px solid var(--colorNavDeepRed);
}

.home_map_card_heading {
  font-family: 'babas_neue', 'normal';
  font-size: xx-large;
  margin-top: -40px;
  background-color: white;
  width: max-content;
  margin-left: 40px;
  margin-bottom: 0;
  padding: 16px;
}

.home_map_card_hr {
  height: 12px;
  width: 180px;
  background-color: var(--colorNavDeepRed);
  margin-left: 56px;
  margin-top: -20px;
}

.home_map_card_content {
  font-family: 'neobulletin', 'normal';
  padding: 16px;
}

.home_interactiveMap {
  display: flex;
  justify-content: center;
}

.home_interactiveMap_card {
  margin-top: 60px;
  width: 70%;
}

.home_interactiveMap_card_tabs {
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  border-bottom: 3px solid black;
  padding: 0px;
}

.home_interactiveMap_card_tab {
  color: var(--colorBeigeBg);
  background-color: var(--colorNavDeepOrange);
  padding: 12px;
  padding-bottom: 2px;
  padding-top: 4px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-family: 'babas_neue', 'normal';
  font-size: x-large;
}

.home_interactiveMap_card_tab:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.home_interactiveMap_card_tab--active {
  color: var(--colorActiveMapTabBlue);
  background-color: white;
  border: 2px solid var(--colorActiveMapTabBlue);
}


.home_interactiveMap_map {
  margin-top: 40px;
  height: 500px;
  background-color: var(--colorBeigeBg);
  margin-bottom: 40px;
  display: flex;
}

.home_interactiveMap_map_scroll {
  background-color: var(--colorNav);
  margin-left: 36px;
  margin-top: -1px;
  width: 240px;
}

.home_interactiveMap_map_header {
  font-family: 'babas_neue', 'normal';
  color: #FFECD1;
  margin-top: 20px;
  font-size: 36px;
  margin-left: 20px;
  width: 200px;
}

.home_interactiveMap_map_names {
  margin-left: 20px;
  max-width: 200px;
  overflow-y: visible;
  font-family: 'babas_neue', 'normal';
  font-size: 20px;
  margin-top: 16px;
  overflow-y: scroll;
  height: 250px;
}

.home_interactiveMap_map_names::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.home_interactiveMap_map_names::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: white;
}

.home_interactiveMap_map_names::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.home_interactiveMap_map_names::-webkit-scrollbar-thumb
{
  background-color: var(--colorNavDeepRed);
}

.home_interactiveMap_map_names_poi {
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
}

.home_interactiveMap_map_names_poi:hover {
  color: #9EC7E1;
  cursor: pointer;
}

.home_interactiveMap_map_points {
  background-size: cover;
  width: 500px;
  height: 400px;
  margin-left: 15%;
  margin-top: 40px;
}

.dt { background-image: url('res/dt.png'); }
.tw { background-image: url('res/tw.png'); }
.museo { background-image: url('res/museo.png'); }
.mag { background-image: url('res/mag.png'); }
.astro { background-image: url('res/astro.png'); }

.home_interactive_map_points_poi {
  position: absolute;
  width: 35px;
}

.home_interactive_map_points_poi:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home_interactiveMap_card_map {
  width: 100%;
}

/* NEED TO FIX ABOVE */

.home_explore {
  margin-top: calc(299*var(--xUnit));
  background-color: var(--colorBeigeBg);
  padding-top: calc(123.26*var(--xUnit));
}

.home_explore_card {
  border: calc(10*var(--xUnit)) solid var(--colorDeepRed);
  width: calc(830.47*var(--xUnit));
  margin-left: calc(592.99*var(--xUnit));
}

.home_explore_cardHeading {
  font-family: 'babas_neue', 'normal';
  font-size: calc(96*var(--xUnit));
  padding-left: calc(40*var(--xUnit));
  padding-right: calc(40*var(--xUnit));
  background-color: var(--colorBeigeBg);
  margin-top: calc(-1*72*var(--xUnit));
  margin-left: calc(92*var(--xUnit));
  width: fit-content;
}

.home_explore_cardHr {
  width: calc(520*var(--xUnit));
  height: 1px;
  margin-left: calc(132.5*var(--xUnit));
  margin-top: calc(-1*12*var(--xUnit));
  margin-bottom: calc(20*var(--xUnit));

  background-color: var(--colorDeepRed);
  /*top*/
  border-top: calc(10*var(--xUnit)) solid var(--colorDeepRed);
  border-bottom: calc(10*var(--xUnit)) solid var(--colorDeepOrange);
}

.home_explore_cardContent {
  width: calc(520*var(--xUnit));
  margin-left: calc(132.5*var(--xUnit));
  text-align: center;
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
}

.home_explore_chicks {
  border-bottom: calc(35*var(--xUnit)) solid var(--colorDeepRed);
  z-index: 1;
}

.home_explore_chicksImg {
  width: calc(1930*var(--xUnit));
  margin-top: calc(76.86*var(--xUnit));
  z-index: 1;
}

.home_explore_chicksCredit {
  position: absolute;
  background-color: var(--colorDarkBlue);
  color: white;
  font-family: 'babas_neue', 'normal';
  font-size: calc(36*var(--xUnit));
  width: calc(322*var(--xUnit));
  height: calc(84*var(--xUnit));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1*84*var(--xUnit));
  z-index: 1;
}

.home_explore_buttons {
  background-color: white;
  padding-top: calc(157*var(--xUnit));
  padding-bottom: calc(192*var(--xUnit));
}

.home_explore_dots {
  width: calc(466*var(--xUnit));
  position: absolute;
  z-index: 0;
}

.home_explore_dots1 {
  margin-top: calc(-1*160*var(--xUnit));
}

.home_explore_dots2 {
  right: 0;
  margin-top: calc(-1*160*var(--xUnit));
}

.home_explore_dots3 {
  margin-top: calc(650*var(--xUnit));
}

.home_explore_dots4 {
  right: 0;
  margin-top: calc(650*var(--xUnit));
}

.home_explore_buttonRow {
  display: flex;
  justify-content: space-evenly;
}

.home_explore_row2 {
  margin-top: calc(163*var(--xUnit));
}

.home_explore_button {
  display: flex;
  align-items: center;
  z-index: 1;
}

.home_explore_buttonImg {
  width: calc(400*var(--xUnit));
}

.home_explore_buttonText {
  width: calc(274*var(--xUnit));
  background-color: white;
  padding: calc(8*var(--xUnit));
  font-family: 'neobulletin', 'normal';
}

/*MAKE THIS ITS OWN SEPARATE CSS*/


.home_highlights {
  min-height: 400px;
  background-image: url("../res/backgroundmap.svg");
  padding: 100px;
  padding-left: 400px;
  padding-right: 400px;
}

.home_highlights_card {
  width: 400px;
  height: 300px;
  background-color: var(--colorBeigeBg);
  width: 100%;
  min-height: 700px;
}

.home_highlights_card_heading {
  font-family: 'babas_neue', 'normal';
  color: var(--colorNavDeepRed);
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

/** NEED TO FIX THISSS!!! DOWN*/

.home_highlights_carousel {
  display: flex;
  justify-content: space-around;
  margin-left: -25%;
  width: 120%;
}

.home_highlights_item {
  display: flex;
  width: 400px;
}

.home_highlights_item_img {
  width: 50%;
  height: 400px;
}

.home_highlights_item_caption {
  background-color: white;
}

.home_highlights_item--active {
  width: 400px;
  border-left: 8px solid var(--colorNavDeepRed);
}

.home_highlights_item--active .home_highlights_item_playnice {
  width: 500px;
}

/** NEED TO FIX THISSS!!! UP*/

.home_highlights_carousel_trackers {
  display: flex;
  width: 100%;
  justify-content: center;
}

.home_highlights_carousel_tracker {
  width: 12px;
  height: 12px;
  background-color: var(--colorNavDeepRed);
  margin: 24px;
  margin-top: 50px;
}