.Navigation {
  min-width: 100%;
  width: fit-content;
}

.NavigationTop {
  background-color: var(--themeColorDeepBlue);
  padding: 20rem;
  padding-left: 112rem;
  display: flex;
}

.NavigationTop_link {
  font-size: 50rem;
  margin-right: 58rem;
  text-decoration: none;
  color: var(--themeColorLightBlue);
  font-family: var(--themeFontBabas);
}

.NavigationTop_link:hover {
  transform: scale(1.01);
  text-decoration: underline;
}

.NavigationTop_link--active {
  color: white;
}

.NavigationBorder {
  background-color: var(--themeColorRed);
  border-top: 14rem solid var(--themeColorRed);
  border-bottom: 14rem solid var(--themeColorOrange);
}