/*Little optional thing for scaling navbar on hover*/
/*
.navigation_total:hover .navigation {
  height: 100rem;
}

.navigation_total:hover .navigation_border {
  border-top: 20rem solid var(--colorDeepRed);
  border-bottom: 20rem solid var(--colorDeepOrange);
  margin-top: 100rem;
}

.navigation_total:hover .navigation .navigation_link {
  font-size: 40rem;
}
*/

.navigation {
  width: 100vw;
  height: 80rem;
  display: flex;
  background-color: var(--colorDarkBlue);
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: 0 3rem 6rem #00000029;
}

.navigation_hamburger {
  width: 31.6rem;
  margin-left: 35rem;
}

.navigation_search {
  width: 52rem;
  margin-right: 44.29rem;
}

.navigation_hamburger, .navigation_search {
  margin-bottom: 8rem;
}

.navigation_link {
  color: var(--colorLightBlue);
  font-family: 'babas_neue', normal;
  font-size: 35rem;
  margin-left: 150rem;
}

.navigation_link--selected {
  color: white;
}

.navigation_link:hover {
  color: white
}

.navigation_border {
  width: 100%;
  background-color: var(--colorDeepRed);
  border-top: 14rem solid var(--colorDeepRed);
  border-bottom: 14rem solid var(--colorDeepOrange);
  margin-top: 80rem;
}