.navigation {
  width: 100%;
  height: calc(var(--yUnit)*121.37/35);
  padding: 8px;
  padding-top: 16px;
  display: flex;
  background-color: var(--colorDarkBlue);
  align-items: center;
  justify-content: space-between;
}

.navigation_hamburger {
  width: calc(var(--yUnit)*31.6/35);
  margin-left: calc(var(--yUnit))
}

.navigation_search {
  width: calc(var(--yUnit)*52/35);
  margin-right: calc(var(--yUnit)*44.29/35);
}

.navigation_hamburger, .navigation_search {
  margin-bottom: calc(var(--yUnit)*8/35);
}

.navigation_link {
  color: var(--colorLightBlue);
  font-family: 'babas_neue', normal;
  font-size: calc(var(--yUnit)*35/35);
}

.navigation_link:hover {
  color: white
}

.navigation_border {
  width: 100%;
  height: 1px;
  background-color: var(--colorNavDeepRed);
  border-top: calc(var(--yUnit)*26.63/35) solid var(--colorDeepRed);
  border-bottom: calc(var(--yUnit)*26.63/35) solid var(--colorDeepOrange);
}