.info_topsplash {
  width: 100vw;
  height: calc(753*var(--xUnit));
  background-color: var(--colorBeigeBg);
}

.info_tophead {
  margin-top: calc(-1*753*var(--xUnit));
  margin-left: calc(122*var(--xUnit));
  font-family: 'babas_neue', 'normal';
}

.info_back {
  margin-top: calc(76*var(--xUnit));
  font-size: calc(40*var(--xUnit));
}

.info_name {
  font-size: calc(80*var(--xUnit));
}

.info_righthead {
  margin-top: calc(-1*180*var(--xUnit));
  margin-right: calc(50*var(--xUnit));
  font-size: calc(40*var(--xUnit));
  text-align: right;
}

.info_splits {
  display: flex;
  margin-top: calc(94.28*var(--xUnit));
}

.info_leftsplit {
  margin-left: calc(122*var(--xUnit));
  background-color: #F8F6F4;
  width: calc(565.25*var(--xUnit));
  font-family: 'babas_neue', 'normal';
  padding-bottom: calc(38*var(--xUnit));
  height: fit-content;
}

.info_thumbnail img {
  width: calc(565.25*var(--xUnit));
  height: calc(613.5*var(--xUnit));
}

.info_imgCred {
  color: #655948;
  font-size: calc(20*var(--xUnit));
  margin-left: calc(49.41*var(--xUnit));
  margin-top: calc(20*var(--xUnit));
  margin-bottom: calc(71*var(--xUnit));
}

.info_datum {
  margin-left: calc(49.41*var(--xUnit));
  margin-bottom: calc(38*var(--xUnit));
}

.info_datum h3 {
  font-size: calc(40*var(--xUnit));
}

.info_datum p {
  font-size: calc(25*var(--xUnit));
}

.info_corrections {
  position: absolute;
  margin-top: calc(50*var(--xUnit));
  width: calc(556.25*var(--xUnit));
  text-align: center;
  margin-top: calc(90*var(--xUnit));
  background-color: var(--colorNavDeepOrange);
  color: white;
  padding-top: calc(11*var(--xUnit));
  padding-bottom: calc(11*var(--xUnit));
  font-size: calc(36*var(--xUnit));
  border-radius: calc(40*var(--xUnit));
}

.info_rightsplit {
  font-family: 'babas_neue', 'normal';
  margin-left: calc(99*var(--xUnit));
}

.info_video img {
  width: calc(1069*var(--xUnit));
  height: calc(664*var(--xUnit));
}

.info_tags {
  margin-top: calc(68.72*var(--xUnit));
  color: var(--colorDeepOrange);
}

.info_usertags {
  font-size: calc(40*var(--xUnit));
}

.info_suggest {
  margin-top: calc(-1*40*var(--xUnit));
  margin-left: calc(549*var(--xUnit));
  font-size: calc(20*var(--xUnit));
}

.info_tagshr {
  width: calc(1069*var(--xUnit));
  height: 2px;
  background-color: var(--colorDeepOrange);
}

.info_taglist {
  margin-top: calc(47.78*var(--xUnit));
  display: flex;
  flex-wrap: wrap;
}

.info_tag {
  font-size: calc(36*var(--xUnit));
  border: calc(5*var(--xUnit)) solid var(--colorDeepOrange);
  border-radius: calc(40*var(--xUnit));
  width: fit-content;
  margin-right: calc(19*var(--xUnit));
  padding-left: calc(37*var(--xUnit));
  padding-right: calc(37*var(--xUnit));
  padding-top: calc(0*var(--xUnit));
  padding-bottom: calc(0*var(--xUnit));
}

.info_tag:hover {
  background-color: var(--colorNavDeepOrange);
  color: var(--colorBeigeBg);
  cursor: pointer;
}

.info_biography {
  margin-top: calc(118.28*var(--xUnit));
}

.info_biohead {
  font-size: calc(80*var(--xUnit));
}

.info_biographyhr {
  width: calc(286*var(--xUnit));
  height: 1px;
  border-top: calc(15*var(--xUnit)) solid var(--colorDeepRed);
  border-bottom: calc(15*var(--xUnit)) solid var(--colorDeepOrange);
}

.info_quote {
  width: calc(911*var(--xUnit));
  /*min-height: calc(250*var(--xUnit));*/
  background-color: var(--colorBeigeBg);
  border-left: calc(10*var(--xUnit)) solid var(--colorDeepOrange);
  margin-top: calc(112.12*var(--xUnit));
  font-size: calc(40*var(--xUnit));
  padding: calc(40*var(--xUnit));
  text-align: center;
}

.info_quotetop {}

.info_biotext {
  width: calc(911*var(--xUnit));
  font-size: calc(20*var(--xUnit));
  margin-top: calc(91.1*var(--xUnit));
  padding: calc(29.36*var(--xUnit));
  background-color: #D0E9F9;
  color: #142F45;
  font-family:Arial, Helvetica, sans-serif;
  text-indent: calc(8*var(--xUnit));
}

.info_quotebot {
  margin-bottom: calc(97*var(--xUnit));
}