.lcard {
    font-size: calc(16px + 1vw);
    font-family: var(--fontBabasNeue);
    width: fit-content;
    min-width: 10em;
    min-height: 4em;
    height: fit-content;
    background-color: white;
    padding: 1em;
}

.lcard_topright {
    border-top: .2em solid var(--colorDeepRed);
    border-right: .2em solid var(--colorDeepRed);
    position: relative;
    float: right;
    width: 2em;
    height: 2em;
    margin-right: -2em;
}

.lcard_text {
    margin-top: .4em;
}

.lcard_bottomleft {
    position: absolute;
    display: flex;
    border-bottom: .2em solid var(--colorDeepRed);
    border-left: .2em solid var(--colorDeepRed);
    width: 2em;
    height: 2em;
    align-items: flex-end;
    margin-left: -2em;
}