.essay {
    margin: 60rem 0;
}

.essay p {
    font-family: var(--fontMontserrat);
    font-size: 24rem;
}

/*
BANNER
*/

.essayBanner {
    width: 75%;
    margin: auto;
    background-color: var(--colorBeige);
    position: relative;
    min-height: 700rem;
    padding-top: 40rem;
}

.essayBanner h1 {
    font-size: 90rem;
    font-family: var(--fontBabasNeue);
    font-weight: normal;
    text-align: center;
    color: var(--colorDarkBlue);
}

.essayBanner_hr {
    height: 99rem;
    border-top: 33rem solid var(--colorDeepRed);
    background-color: var(--colorDeepOrange);
    border-bottom: 33rem solid var(--colorDeepYellow);
    margin-top: -250rem;
    position: relative;
    margin-bottom: 250rem;
}

.essayBanner_hr + figure {
    width: 75%;
}

.essayBanner_hr + figure img {
    width: 100%;
    position: relative;
    margin-top: -620rem;
}

.essayBanner_hr + figure figcaption {
    background-color: var(--colorDarkBlue);
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorBeige);
    width: 100%;
    text-align: center;
    padding: 20rem;
    
    margin-bottom: calc(620rem + 60rem);
}

/*
P1
*/

.essayP1 {
    padding: 60rem 40rem 60rem 0;
    display: flex;
    font-size: 80rem;
}

.essayP1_left {
    width: 35%;
    margin-right: 400rem;
    position: relative;
}

.essayP1_left figure {
    height: fit-content;
    box-shadow: 60px -48px var(--colorDeepYellow);
}

.essayP1_left img{
    width: 100%;
    position: relative;
    display: block;
    margin-top: -620rem;
}

.essayP1_left figcaption {
    background-color: var(--colorDarkBlue);
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorBeige);
    width: 100%;
    text-align: center;
    padding: 20rem;
}

.essayP1_right {
    width: 40%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.essayP1_right figure {
    margin-top: calc(-100% + 60rem);
    margin-bottom: 60rem;
}

.essayP1_right img {
    width: 100%;
}

.essayP1_right figcaption {
    background-color: var(--colorDarkBlue);
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorBeige);
    width: 100%;
    text-align: center;
    padding: 20rem;
    margin-top: -30rem;
}

/*
P2
*/

.essayP2 {
    padding: 40rem 240rem;
}

/*
P3
*/

.essayP3 {
    display: flex;
    justify-content: space-between;
    padding: 60rem 120rem;
}

.essayP3 p {
    width: 40%;
}

.essayP3 figure {
    width: 50%;
}
.essayP3 img {
    width: 100%;
}

.essayP3 figcaption {
    background-color: var(--colorDarkBlue);
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorBeige);
    width: 100%;
    text-align: center;
    padding: 20rem;
}

/*
P4
*/

.essayP4 {
    display: flex;
    justify-content: space-between;
    padding: 60rem 120rem;
}

.essayP4 p {
    width: 45%;
}

.essayP4 figure {
    width: 45%;
}
.essayP4 img {
    width: 100%;
}

.essayP4 figcaption {
    background-color: var(--colorDarkBlue);
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorBeige);
    width: 100%;
    text-align: center;
    padding: 20rem;
}

/*
SOURCES
*/

.essaySources {
    padding: 120rem;
}

.essaySources_author {
    font-weight: bold;
    margin-bottom: 40rem;
    max-width: 70ch;
}

.essaySources h2 {
    font-size: 48rem;
    font-family: var(--fontBabasNeue);
    color: var(--colorDarkBlue);
    margin-bottom: 30rem;
}

.essaySources_src {
    font-size: 20rem !important;
    margin-bottom: 15rem;
    max-width: 70ch;
}