.navbar {
    padding: 1rem;
    background-color: var(--colorDarkBlue);
    border-bottom: .4rem solid var(--colorDeepRed);
}

.navbar + * {
    border-top: .4rem solid var(--colorDeepOrange);
}

.navbar a {
    text-decoration: none;
    color: var(--colorLightBlue);
    margin-left: 2rem;
}

.navbar a:hover {
    text-decoration: underline;
    color: white;
}