/*
BANNER
*/

.discoverInfoBanner {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.discoverInfoBanner a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.discoverInfoBanner a:hover {
    text-decoration: underline;
}

.discoverInfoBanner h1 {
    font-weight: normal;
}

.discoverInfoBanner_right {
    text-align: right;
}

/*
BODY
*/

.discoverInfoBody {
    display: flex;
    position: relative;
    width: 100%;
}

.discoverInfoBody > * {
    margin: 1rem;
    position: relative;
}

/*
BODY_LEFT
*/

.discoverInfoBody_left {
    width: 30%;
}

.discoverInfoBody_profile {
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
    padding-bottom: 1rem;
}

.discoverInfoBody_profile > h3,
.discoverInfoBody_profile > p {
    padding: 0 .6rem;
}

.discoverInfoBody_profile > h3 {
    font-size: .8rem;
    font-weight: normal;
    margin-top: .5rem;
}

.discoverInfoBody_profile > p {
    font-size: .5rem;
    font-family: var(--fontMontserrat);
    font-weight: bold;
}

.discoverInfoBody_pfp {
    width: 100%;
}

.discoverInfoBody_caption {
    font-size: .5rem;
    margin-bottom: 1rem;
}

.discoverInfoBody_role {
    margin-bottom: .4rem;
}

.discoverInfoBody_submit {
    border: none;
    width: 99%;
    margin: auto;
    display: block;
    margin: .8rem auto;
    padding: .2rem;
    border-radius: 999px;
    background-color: var(--colorDeepRed);
    color: white;
    font-family: var(--fontBabas);
    font-size: .7rem;
}

.discoverInfoBody_submit:hover {
    cursor: pointer;
    transform: scale(1.01);
    opacity: .9;
}

/*
BODY_RIGHT
*/

.discoverInfoBody_right {
    width: 70%;
}

.discoverInfoBody_video {
    width: 100%;
    margin-bottom: 1rem;
}

.discoverInfoBody_tagh {
    border-bottom: 2px solid var(--colorDeepRed);
    padding-bottom: .4rem;
    margin-bottom: .4rem;
}

.discoverInfoBody_tagh h3 {
    font-weight: normal;
    color: var(--colorDeepRed);
}

.discoverInfoBody_tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.discoverInfoBody_tag {
    margin: .2rem;
    border: 3px solid var(--colorDeepRed);
    color: var(--colorDeepRed);
    border-radius: 999px;
    padding: 0 1.5rem;
}

.discoverInfoBody_bioh {
    width: fit-content;
    border-bottom: .5rem solid var(--colorDeepRed);
    font-size: 1.7rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.discoverInfoBody_bigquote {
    background-color: var(--colorBeige);
    padding: 1rem;
    width: fit-content;
    margin: auto;
    border-left: .8rem solid var(--colorDeepRed);
    margin-bottom: 1rem;
}

.discoverInfoBody_bigquote p {
    width: fit-content;
    max-width: 29ch;
    text-align: center;
    margin: auto;
    font-family: var(--fontMontserrat);
    font-weight: bold;
}

.discoverInfoBody_text {
    padding: .5rem;
    background-color: rgba(158,199,225, .3);
    margin-bottom: 1rem;
    font-size: .6rem;
}

.discoverInfoBody_text p {
    margin-bottom: 1rem;
    font-family: var(--fontMontserrat);
}

.discoverInfoBody_sources h3 {
    font-weight: normal;
    margin-bottom: .6rem;
}

.discoverInfoBody_sources p {
    font-size: .6rem;
    font-family: var(--fontMontserrat);
    margin-bottom: .4rem;
}

/*
ARCHIVE
*/

.discoverInfoArchive {
    width: 80%;
    margin: auto;
}

.discoverInfoArchive > h2 {
    font-weight: normal;
    color: var(--colorDarkBlue);
}

.discoverInfoArchive_items {
    display: flex;
    width: 100%;
}

.discoverInfoArchive_items > * {
    width: 100%;
    margin: 1rem;
}

.discoverInfoArchive_item {
    text-decoration: none;
    color: inherit;
}

.discoverInfoArchive_item:hover {
    transform: scale(1.01);
    cursor: pointer;
    opacity: .9;
}

.discoverInfoArchive_item:hover .discoverInfoArchive_title {
    text-decoration: underline;
}

.discoverInfoArchive_thumb {
    width: 100%;
}

/*
STORIES
*/

.discoverInfoStories {
    padding: 1rem;
    background-color: var(--colorBeige);
    margin: 1rem;
    margin-bottom: 2rem;
}

.discoverInfoStories > h2 {
    text-align: center;
    color: var(--colorDeepRed);
    padding-bottom: 2rem;
}

.discoverInfoStories_stories {
    display: flex;
}

.discoverInfoStories_stories > * {
    background-color: white;
    width: 100%;
    margin: 0 .2rem;
}