a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.discover_card {
  width: calc(449.21*var(--xUnit));
  height: calc(289.77*var(--xUnit));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: white;
}

.discover_card_thumbnail {

}

.discover_card_thumbnail img {
  width: calc(168.22*var(--xUnit));
  height: calc(207.55*var(--xUnit));
}

.discover_card_hole {
  background-image: linear-gradient(180deg, white, lightgray);
  width: calc(75*var(--xUnit));
  height: calc(12*var(--xUnit));
  border-radius: 12px;
  margin-left: calc(175*var(--xUnit));
  margin-top: calc(-1*200*var(--xUnit));
}

.discover_card_stateTop {
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
  font-size: calc(24*var(--xUnit));
  margin-right: calc(20*var(--xUnit));
  margin-top: calc(-1*18*var(--xUnit));
  text-align: right;
}

.discover_card_shelf {
  margin-left: calc(210*var(--xUnit));
  margin-top: calc(60*var(--xUnit));
}

.discover_card_shelf div {
  width: calc(218.14*var(--xUnit));
  border-top: calc(4*var(--xUnit)) solid black;
  border-right: calc(4*var(--xUnit)) solid black;
  height: calc(40*var(--xUnit));
}

.discover_card_shelf3 {
  height: calc(44*var(--xUnit)) solid black;
  border-bottom: calc(4*var(--xUnit)) solid black;
}

.discover_card_data {
  margin-left: calc(210*var(--xUnit));
  margin-top: calc(-1*110*var(--xUnit));
  font-size: calc(20*var(--xUnit));
  font-weight: bold;
  font-family: 'neobulletin', 'normal';
}

.discover_card_name {}

.discover_card_role {
  margin-top: calc(20*var(--xUnit));
}

.discover_card_state {
  margin-top: calc(15*var(--xUnit));
}

.discover_card_bottomText {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: calc(28*var(--xUnit));
  text-align: center;
  margin-top: calc(30*var(--xUnit));
}