.discover {

}

.discover_splash {
  display: flex;
  background-image: url("./res/mapbg.png");
}

.discover_splash_button {
  margin-top: calc(100.16*var(--xUnit));
}

.discover_splash_button img {
  width: calc(541*var(--xUnit));
}

.discover_splash_card {
  font-family: 'neobulletin', 'normal';
  font-weight: bold;
  background-color: white;
  height: fit-content;
  min-height: calc(358*var(--xUnit));
  width: calc(889*var(--xUnit));
  margin-top: calc(183*var(--xUnit));
  border-left: 8px solid var(--colorDeepRed);
  padding-right: calc(33*var(--xUnit));
  padding-left: calc(61*var(--xUnit));
  padding-top: calc(58*var(--xUnit));
  padding-bottom: calc(41*var(--xUnit));
}

.discover_splash_fem {
  margin-top: calc(-1*200*var(--xUnit));
  margin-right: calc(-1*20*var(--xUnit));
}

.discover_splash_fem img {
  width: calc(573*var(--xUnit));
}

.discover_featured {
  margin-bottom: calc(173.31*var(--xUnit));
}

.discover_featured_heading {
  font-family: 'babas_neue', 'normal';
  color: var(--colorDarkBlue);
  font-size: calc(80*var(--xUnit));
  margin-left: calc(692*var(--xUnit));
  margin-top: calc(100*var(--xUnit));
}

.discover_featured_socmed {
  float: right;
  margin-top: calc(-1*200*var(--xUnit));
  margin-right: calc(54*var(--xUnit));
}

.discover_featured_socmed img {
  width: calc(120*var(--xUnit));
}

.discover_featured_cards {
  display: flex;
  justify-content: space-around;
  margin-top: calc(77.61*var(--xUnit));
}

.discover_stories {
  
}

.discover_stories_interface img {
  width: calc(1919*var(--xUnit));
}

.discover_stories_buttons {
  display: flex;
  justify-content: space-between;
  width: calc(708*var(--xUnit));
  margin-top: calc(25.3*var(--xUnit));
  margin-left: calc(1100*var(--xUnit));
  margin-bottom: calc(60.3*var(--xUnit));
}

.discover_stories_buttons img {
  width: calc(330*var(--xUnit));
}

.discover_stories_dump {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--colorBeigeBg);
  padding: calc(145.42*var(--xUnit));
}

.discover_stories_dump > * {
  margin: calc(95*var(--xUnit));
  margin-right: 0;
  margin-left: 0;
}