.footer {
  width: 100vw;
  height: calc(600*var(--xUnit));
  background-color: var(--colorDarkBlue);
  font-family: 'babas_neue';
  padding-top: calc(146*var(--xUnit));
  padding-left: calc(108*var(--xUnit));
}

.footer_top {
  font-size: calc(40*var(--xUnit));
  color: var(--colorLightBlue);
  display: flex;
}

.footer_icon img {
  width: calc(216*var(--xUnit));
}

.footer_bar {
  width: calc(2*var(--xUnit));
  height: calc(200*var(--xUnit));
  background-color: white;
  margin-left: calc(155*var(--xUnit));
}

.footer_home {
  margin-left: calc(155*var(--xUnit));
}

.footer_about, .footer_contact, .footer_social {
  margin-left: calc(37.5*var(--xUnit));
}

.footer_socialIcons {
  display: flex;
  margin-top: calc(35.31*var(--xUnit));
}

.footer_instagram img {
  width: calc(42.58*var(--xUnit));
}

.footer_twitter img {
  width: calc(42.58*var(--xUnit));
  margin-left: calc(80.9*var(--xUnit));
}

.footer_facebook img {
  width: calc(20.58*var(--xUnit));
  margin-left: calc(80.9*var(--xUnit));
}

.footer_socialIcons a:hover img {
  transform: scale(1.04);
  border-bottom: calc(4*var(--xUnit)) solid var(--colorLightBlue);
  padding-bottom: calc(12*var(--xUnit));
}

.footer_bot {
  width: calc(1140*var(--xUnit));
  font-size: calc(30*var(--xUnit));
  color: #3874A5;
  text-align: center;

  margin-top: calc(90.9*var(--xUnit));
  margin-left: calc(328*var(--xUnit));
}