.footer {
  width: 100%;
  height: 250px;
  background-color: var(--colorNav);
  font-family: 'babas_neue', 'normal';
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.footer_home, .footer_about, .footer_contact {
  padding-right: 50px;
  border-right: 2px solid white;
}

.footer_icon {
  width: 160px;
  height: 140px;
}

.footer_header {
  color: #9ec7e1;
}

.footer_item {
  color: white;
}

.footer_media {

}

.footer_socmedic {
  width: 200px;
  margin-top: -40px;
  margin-left: -40px;
}