.footer {
  display: grid;
  grid-template-columns: repeat(5, [col] auto ) ;
  grid-template-rows: repeat(2, [row] auto  );
  background-color: var(--colorDarkBlue);
  font-family: 'babas_neue';
  padding-top: 146rem;
  padding-left: 108rem;
  padding-right: 108rem;
  padding-bottom: 60rem;
}

.footer_top {
  font-size: 40rem;
  color: var(--colorLightBlue);
}

.icon {
  grid-column: col / span ;
  grid-row: row;
}

.home  {
  grid-column: col / span;
  grid-row: row;
  border-right: 2rem solid white;
}

.contact {
  grid-column: col / span;
  grid-row: row 1;
  border-right: 2rem solid white;
  margin-left: 80rem;
}

.donate {
  grid-column: col / span;
  grid-row: row 1;
  border-right: 2rem solid white;
  margin-left: 80rem;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, [col] auto ) ;
  grid-template-rows: repeat(2, [row] auto  );;
  margin-left: 80rem;
}

.socialMedia {
  grid-column: col / span 3;
  grid-row: 1;
}

.instagram {
  grid-column: 1;
  grid-row: 2;
}

.twitter{
  grid-column: 2;
  grid-row: 2;
}

.facebook{
  grid-column: 3;
  grid-row: 2;
}

.home a,
.contact a,
.donate a {
  color: var(--colorLightBlue);
  text-decoration: none;
}

.home a:hover,
.about a:hover,
.contact a:hover,
.donate a:hover{
  color: white;
}

.socialIcons a:hover img {
  transform: scale(1.04);
  padding-bottom: 12rem;
}

.footer_bot {
  margin-top: 80rem;
  grid-column: col / span 5 ;
  grid-row: row 2;
  font-size: 30rem;
  color: #3874A5;
  text-align: center;
}

.footer_support {
    margin-bottom: 30rem;
}

.footer_seal img {
  width: 400rem;
  margin-bottom: 40rem;
}