*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(100vw/1920);

  --themeFontBabas: 'babas_neue', 'normal';
  --themeFontGotham: 'gotham', 'normal';
  --themeFontNeo: 'neobulletin', 'normal';
  --themeFontSubway: 'subway_ds', 'normal';
  --themeFontMonserrat: 'Montserrat', sans-serif;

  --themeColorDeepBlue: #142F45;
  --themeColorLightBlue: #9EC7E1;
  --themeColorPurpleBlue: #615FBF;
  --themeColorRed: #B32525;
  --themeColorOrange: #CB4E28;
  --themeColorBeige: #FFF4E8;
  --themeColorYellow: #FFD048;
  --themeColorDeepBeige: #F5E7D9;
  --themeColorGray: #CCC9C9;

  --themeBoxShadow: 0 3rem 10rem rgb(0 0 0 / 0.2);
}

/* FONTS */
@font-face {
  font-family: 'babas_neue';
  src: url('res/SS_Fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('res/SS_Fonts/gotham_book/gotham_book_regular/gotham_book_regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'neobulletin';
  src: url('res/SS_Fonts/neobulletin/neobulletin_limited_free_version.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'subway_ds';
  src: url('res/SS_Fonts/subway_ds/subway_black.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');