:root{
  --colorNav: #26557B;
  --colorNavDeepRed: #B32525;
  --colorNavDeepOrange: #CB4E28;
  --colorSplashCardBg: rgba(158, 199, 225, .5);
  --colorBeigeBg: #FFF4E8;
  --colorAboutBorderYellow: #ffd048;
  --colorActiveMapTabBlue: #44596b;
}

*, *::before, *::after {
  box-sizing: border-box
}

@font-face {
  font-family: 'babas_neue';
  src: url('res/SS_Fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('res/SS_Fonts/Gotham Book/Gotham Book Regular/Gotham Book Regular.otf') format('otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'neobulletin';
  src: url('res/SS_Fonts/neobulletin/NeoBulletin Limited Free Version.ttf') format('ttf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'subway_ds';
  src: url('res/SS_Fonts/subway_ds/Subway-Black.ttf') format('ttf');
  font-weight: normal;
  font-size: normal;
}





/*
placeholder fonts. to be ignored!
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
.font-montserrat-alternatives {
  font-family: 'Montserrat Alternates', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
.font-odibee-sans {
  font-family: 'Odibee Sans', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
.font-suez-one {
  font-family: 'Suez One', serif;
}