/*CEREMONY*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

/*THEMING*/

:root{
  --colorLightGray: #CCC9C9; /*Like seen in the text of homeMap's popup*/
  --colorLightGrayFont: #A5A5A5; /*Like seen in the text for essays*/
  --colorDarkBlue: #142F45; /*Like seen in the background of the Navigation*/
  --colorMediumBlue: #357A93; /*Like seen in the essay lists short titles in thumnails*/
  --colorLightBlue: #9EC7E1; /*Like seen in the links of Navigation*/
  --colorDeepRed: #B32525; /*Like seen on the border of Navigation*/
  --colorDeepOrange: #CB4E28; /*Like seen on the border of Navigation*/
  --colorDeepYellow: #FFD048; /*Like seen on the bottom border of the homeAbout Section*/
  --colorBeige: #FFF4E8; /*Like seen the homeAbout section*/

  --fontBabasNeue: 'babas_neue';
  --fontGotham: 'gotham';
  --fontNeoBulletin: 'neobulletin';
  --fontSubwayDs: 'subway_ds', 'normal';
  --fontMontserrat: 'Montserrat', sans-serif;
}

/*SCALING FOR DIFFERENT SCREEN SIZES*/

:root {
  --xUnit: calc(100vw/1920);
  font-size: calc(100vw/1920);
}

/*FONTS*/

@font-face {
  font-family: 'babas_neue';
  src: url('res/SS_Fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}
.font-babas_neue {
  font-family: 'babas_neue', 'normal';
}

@font-face {
  font-family: 'gotham';
  src: url('res/SS_Fonts/gotham_book/gotham_book_regular/gotham_book_regular.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}
.font-gotham_book {
  font-family: 'gotham', 'normal';
}

@font-face {
  font-family: 'neobulletin';
  src: url('res/SS_Fonts/neobulletin/neobulletin_limited_free_version.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}
.font-neobulletin {
  font-family: 'neobulletin', 'normal';
}

@font-face {
  font-family: 'subway_ds';
  src: url('res/SS_Fonts/subway_ds/subway_black.woff') format('woff');
  font-weight: normal;
  font-size: normal;
}
.font-subway_ds {
  font-family: 'subway_ds', 'normal';
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
}